/* Dropdown Button */
.dropbtn {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  margin-top: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.recyle-center {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  height: 100vh;
}

.colored-section {
  background-color: #CCD6A6;
}

.white-section {
  background-color: #FFFBE9;
}

.nav-bar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  z-index: 99999;
  width: 100%;
}

.shop {
  display: flex;
  justify-content: space-around;
  height: 95vh;
  padding: 3em;

}

.blog {
  padding: 1.5em 20em;
  margin: auto;

}

.blog-desc {
  padding-bottom: 30px;
}

footer {
  text-align: center;
  margin: auto;
  padding: 7px;
  padding-top: 10px;
}

.donateCarousel {
  width: 800px;
  margin: auto;
}

.donate {
  width: 100%;
  height: 95vh;
  padding-top: 75px;
}
